/***********CSS DE LAS PESTAÑAS*************/
/***PESTAÑAS PRINCIPALES***/
div#panel {
	position: relative;
	margin:10px;
}
/* configuracion de las pestañas */
ul#tabs {
	left: 0px;
	top: 0px;
	margin:0;
	padding:0;
	width: 400px;
	height: 24px;
	z-index: 20;
	font-family: arial;
	font-size: 14px;
}
	ul#tabs li#tab_01{
		float:left;
		height: 25px;
		padding-left: 8px;
		list-style: none;
		margin:2px 8px 0 0;
		color:#000;
		font-size:15px;
		border-radius:12px 12px 0px 0px;
		background: #c4c4c4;
		background: -moz-linear-gradient(top,  #c4c4c4 0%, #e5e5e5 41%, #e5e5e5 62%, #c4c4c4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(41%,#e5e5e5), color-stop(62%,#e5e5e5), color-stop(100%,#c4c4c4));
		background: -webkit-linear-gradient(top,  #c4c4c4 0%,#e5e5e5 41%,#e5e5e5 62%,#c4c4c4 100%);
		background: -o-linear-gradient(top,  #c4c4c4 0%,#e5e5e5 41%,#e5e5e5 62%,#c4c4c4 100%);
		background: -ms-linear-gradient(top,  #c4c4c4 0%,#e5e5e5 41%,#e5e5e5 62%,#c4c4c4 100%);
		background: linear-gradient(to bottom,  #c4c4c4 0%,#e5e5e5 41%,#e5e5e5 62%,#c4c4c4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 );


		-webkit-box-shadow:  4px 0px 0px 0px #a2a2a2;
		box-shadow: 4px 0px 0px 0px #a2a2a2;
	}
		/*hover de la primera pestaña*/
		ul#tabs li#tab_01:hover{
			margin-top:-1px;
			color:#fff;
			font-weight:bold;
			font-size:15px;
			text-shadow: #a3a3a3 1px 1px 1px;
			height:27px;
		}
	ul#tabs li#tab_02{
		float:left;
		height: 25px;
		padding-left: 8px;
		list-style: none;
		color:#000;
		font-size:15px;
		margin:2px 4px 0 0;
		border-radius:12px 12px 0px 0px;
		background: #d3d3d3;
		background: -moz-linear-gradient(top,  #d3d3d3 0%, #f2f2f2 42%, #efefef 62%, #d3d3d3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(42%,#f2f2f2), color-stop(62%,#efefef), color-stop(100%,#e5e5e5));
		background: -webkit-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
		background: -o-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
		background: -ms-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
		background: linear-gradient(to bottom,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 );

		-webkit-box-shadow:  4px 0px 0px 0px #c4c4c4;
		box-shadow: 4px 0px 0px 0px #c4c4c4;
	}
		/*hover de la segunda pestaña*/
		ul#tabs li#tab_02:hover{
			margin-top:-1px;
			color:#fff;
			font-weight:bold;
			height:27px;
			font-size:15px;
			text-shadow: #a3a3a3 1px 1px 1px;
		}
	/*diseño para pestaña seleccionada*/
	ul#tabs li.actual {
		height: 24px;
		cursor:default;
		background: #e5e5e5;
	}
		ul#tabs li a {
			display: block;
			/* hack para ie6 */
			.display: inline-block;
			/* fin del hack */
			height: 23px;
			line-height: 23px;
			padding-right: 8px;
			outline: 0px none;
			font-size: 12px;
			text-decoration: none;
		}
		/*diseño para el hipervínculo de la pestaña seleccionada*/
		ul#tabs li.actual a {
			height: 27px;
			font-size:15px;
			font-weight:bold;
			text-shadow: #a3a3a3 1px 1px 1px;
			border-radius:12px 12px 0px 0px;
			-webkit-box-shadow:  4px 0px 0px 0px #b3b3b3;
			margin: 0 -4px 0 -8px;
			padding-left: 8px;
			line-height: 24px;
			cursor: default;	
			background: #f3f3f3;
		}
/* Configuración de los paneles */
div#panel #paneles {
	position:absolute;
	left: 0px;
	top: 26px;
	overflow: hidden;
	z-index: 10px;
	background: #f3f3f3;
	border-radius:0 10px 10px 10px;
	-webkit-box-shadow:  2px 2px 5px 0px #a3a3a3;
    box-shadow:  2px 2px 5px 0px #a3a3a3;
}
div#panel #paneles section {
	margin:10px;
	width: 650px;
	min-height:315px;
	font-size: 12px;
	text-decoration: none;
	color: #000;    
	o verflow: auto;
}
/****FIN DE PESTAÑAS***/

/***SEGUNDA PESTAÑA***/
.contenedor-tabs {
	min-height:140px;
	width: 590px;
	margin: 10px 20px;
	position: relative;
}
span.diana {
	position: fixed;
	display: none;
}
.tab div {
	position: absolute;
	top: 25px;
	left: 0;
	padding: 10px;
	color: #000;
	line-height: 1.2;
	z-index: 5;
	width:590px;
	m in-height:135px;
	background: #e3e3e3;
	opacity:0;
	word-wrap:break-word;
	border-radius:0 10px 10px 10px;
	-webkit-box-shadow:  2px 2px 5px 0px #a3a3a3;
    box-shadow:  2px 2px 5px 0px #a3a3a3;
}

.tab .tab-e {
	float: left;
	min-width: 50px;
	padding: 5px;
	margin-right: 5px;
	border-radius:12px 12px 0px 0px;
	background: #d3d3d3;
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #f2f2f2 42%, #efefef 62%, #d3d3d3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(42%,#f2f2f2), color-stop(62%,#efefef), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
	background: -o-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
	background: linear-gradient(to bottom,  #d3d3d3 0%,#f2f2f2 42%,#efefef 62%,#d3d3d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 );

	-webkit-box-shadow:  4px 0px 0px 0px #c4c4c4;
	box-shadow: 4px 0px 0px 0px #c4c4c4;
	
	text-decoration: none;
	font-size: 13px;
	color: #000000;
	text-align: center;
	position: relative;
}
a.tab-e:hover {
	margin-top:-3px;
	color:#000;
	background:#e3e3e3;
	font-size:15px;
	font-weight:bold;
	text-shadow: #a3a3a3 1px 1px 1px;
}
.diana:target + .tab div {
    opacity: 1;
	background: #e3e3e3;
	border-radius:0 10px 10px 10px;
	-webkit-box-shadow:  1px 1px 3px 0px #a3a3a3;
    box-shadow:  1px 1px 3px 0px #a3a3a3;
    color: #000;   
}
.diana:target + .tab .tab-e {
	border-radius:12px 12px 0px 0px;
	-webkit-box-shadow:  4px 0px 0px 0px #b3b3b3;
	margin: 0 5px 0 0px;
	padding-left: 8px;
	cursor: default;	
	background: #e5e5e5;
	font-size:15px;
	font-weight:bold;
	text-shadow: #a3a3a3 1px 1px 1px;
}
/****FIN DE SEGUNDA PESTAÑA***/


