body{font-size:14px;}
*{margin:0px;padding:0px}
a,textarea{visibility:hidden;}
ul,li {display:none;}
input,select,option{display:block;width:150px;background:transparent;border:0;text-align:center;}
#header h1{font-size:32px;text-align:center;background:none;}
#sub-header-nav{display:none;}
#span2{display:none;}
#navegacion{display:none;}
.form-search{display:none;}
#footer{display:none;}

/**CSS SURCO**/
#tab2{display:none;}
h3{background:#f4f4f4;font-size:20px;margin-top:20px}
#paciente fieldset{border:0;width:50%;float:left;margin-top:20px}
#paciente legend{font-size:20px;font-weight:bold;text-decoration:underline;}
#paciente .table2{width:80%;}#paciente .table2 th{font-size:14px;text-align:center}#paciente .table2 td{text-align:center}
#direccion fieldset{border:0;width:50%;position:absolute;right:0px;top:100px;}
#direccion legend{font-size:20px;font-weight:bold;text-decoration:underline;}
#direccion .table2{width:80%;} #direccion .table2 th,#direccion .table2 td{text-align:center}
#tab1{float:none;clear:both;}
.acordeon input[type="radio"]{display:none;}
.acordeon label{font-size:18px;font-weight:bold;font-style:underline;}
#acordeon3 label{margin-top:10px;}
#datos_imp{display:block;margin-bottom:10px;}
.oculto{display:none;}
.tabla-datos{margin-bottom:10px;}
.table_imp th{background:#d8d8d8;border:1px solid #b9b9b9;}.table_imp td{border:1px solid #d3d3d3;}